@import '../../style.scss';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $cardColor;
    width: 320px;
    padding: 26px;
    border-radius: 8px;
    min-height: 450px;
    transform: scale(0);
    transition: 0.5s;
    &:hover {
        border-bottom: 2px solid rgba(127, 128, 118, 1);
    }
}

.card.active {
    transform: scale(1);
}

.fc {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
}

.imgWrapper { 
    display: flex;
    height: 240px;
    margin-bottom: 10px;
}

.new {
    position: absolute;
    left: 120px;
    top: 5px;
    font-weight: 600;
    color: $titleColor;
    background-color: white;
    border-radius: 4px;
}

.img {
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto;
    &:hover {
        scale: 1.1;
    }
}

.description {
    text-overflow: ellipsis;
    color: $mainColor;
    font-weight: 400;
    font-size: 16px;
}

.title {
    font-weight: 600;
    color: $mainColor;
    font-size: 18px;
}

.price {
    font-weight: 600;
    color: $mainColor;
    font-size: 18px;
}