@import '../../style.scss';

.header {
    background-color: $mainColor;
    width: 100%;
    height: 100px;
}

.flBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

.title {
    margin: 0 auto;
    color: $secTextColor;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
}

.medium {
    width: 100px;
    height: 60px;
    background: $cardColor;
    position: absolute;
    right: 70px;
}

.dark {
    width: 100px;
    height: 60px;
    background-color: #494646;
    color: #fff;
    position: absolute;
    left: 70px;
    top: 20px;
}
